
<article>
  <header>
    <h1>
      <%= image_for(@event) %>
      <%= @event.name %>
    </h1>
  </header>
  <p><%= @event.description %></p>
  <table style="text-align: left;">
    <tr>
      <th>When:</th>
      <td><%= @event.starts_at.to_s %></td>
    </tr>
    <tr>
      <th>Where:</th>
      <td><%= @event.location %></td>
    </tr>
    <tr>
      <th>Price:</th>
      <td><%= format_price(@event) %></td>
    </tr>
    <tr>
      <th>Capacity:</th>
      <td><%= pluralize(@event.capacity, 'spot') %></td>
    </tr>
  </table>
</article>

<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Delete", event_path(@event), method: :delete,
            data: {confirm: "Are you sure?"} %>
</p>
